.container-ic {
    min-height: 100vh;
    background: rgb(7, 16, 32);
    /* background: radial-gradient(circle, #10213e 0%,rgb(7, 16, 32)) 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* TUDO */
.container-ic .conteudo-ic {
    /* width: clamp(300px, 1000px, 100%); */
    min-height: 500px;
    /* border: 1px solid white; */

    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    /* width: 700px; */
    /* justify-content: center;
    align-items: center; */
    gap: 20px;
}

.informacao-ic {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}

.container-ic .conteudo-ic .config-imagem-ic {
    display: flex;
    flex-direction: column;
    position: relative;
}

.imagem-ic {
    /* transform: scale(.8); */
    width: 90%;
}

.container-ic .conteudo-ic .config-imagem-ic {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-ic .conteudo-ic .config-imagem-ic legend {
    color: white;
    font-size: 15px;
    text-align: center;

    /* position: absolute;
    bottom: 3%;
    left: 10%; */
}

.container-ic .conteudo-ic .informacao-ic .titulo-ic {
    color: white;
    font-size: 20px;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 20px;

    h1 {
        margin-right: 15px;
    }
}

.container-ic .conteudo-ic .informacao-ic .titulo-ic span {
    font-size: 6rem;
    color: #688fc0;
    position: absolute;
    top: -10px;
    left: 35%;
}


.container-ic .conteudo-ic .informacao-ic .texto-ic {
    max-width: 600px;
    font-size: 20px;
    color: white;
    text-align: justify;
    font-weight: 100;
    margin: 20px;
}

.botoes-ic {
    display: grid;
    place-content: center;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    button {
        height: 45px;
        background-color: transparent;
        border: 2px solid white;
        color: white;
        border-radius: 5px;
        font-size: 15px;
        margin: 10px 20px;
        outline: none;
        transition: .3s;
        /* box-shadow: 0 0 20px rgb(57, 57, 119); */
        /* box-shadow: 0 0 10px #425e9b; */
        font-weight: bold;
    }

    button:hover {
        cursor: pointer;
        /* background-color: white; */
        /* border: none; */
        box-shadow: 0 0 20px rgb(183, 189, 220);
        /* background-color: #688fc0; */
        /* box-shadow: 0 0 10px #425e9b,
        0 0 30px #425e9bd3; */
        /* transform: scale(1.07); */
    }
}

@media screen and (max-width:600px) {
    .imagem-ic {
        /* width: 60%; */
        display: none;
        /* margin-bottom: 25px; */
    }

    .container-ic .conteudo-ic .config-imagem-ic legend {
        /* display: none; */
        /* position: relative;
        text-align: center; */
        display: none;
    }

    .container-ic .conteudo-ic .informacao-ic .titulo-ic {
        text-align: center;
    }

    .container-ic .conteudo-ic .informacao-ic .titulo-ic span 
    {
        left: 70%;
    }
}